body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    background: white;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

button {
    margin: 5px;
    padding: 8px 12px;
}

.hidden {
    display: none;
}

input {
    margin: 5px;
    padding: 6px;
    width: 90%;
}
